.dashboard main {
  margin: 0;
  display: grid;
  grid-template-columns: calc(100% - 350px) 320px;
  grid-template-rows: auto auto auto;
  width: calc(100% - 310px);
  position: relative;
  left: 310px;
  padding: 30px;
  justify-content: space-between;
  top: 80px;
}
.today {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.cards {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  gap: 20px;
  /* width: calc(100% - 300px); */
  width: 100%;
  position: relative;
  top: 0;
}
.card {
  border: 1px solid var(--border-gray);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card-title {
  font-size: var(--font-size-normal);
  color: var(--black);
}
.top-arrow {
  width: 20px !important;
}
.card img {
  width: 200px;
  height: auto;
}
.card p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-small);
}
.card p:nth-child(3) {
  display: flex;
  justify-content: space-between;
}
.card .total {
  font-size: var(--font-size-medium);
  color: var(--black);
}
.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.containers{
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  margin-top: 20px;
}
.recent-orders{
  width: 100%;
  background-color: var(--light-orange);
  border-radius: 30px;
  padding: 15px;
}
.orders{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.order, .order div, .order-details .part-one p, .order-details .part-one p div{
  display: flex;
}
.order div{
  display: flex;
}
.order-details, .order-details .part-one{
  display: flex;
  flex-direction: column;
}
.order-details .part-one p, .order-details .part-one p div{

}
.earnings {
  width: 320px;
  border: 1px solid var(--border-gray);
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
}
.earnings-heading, .recent-heading {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--black);
}
.earnings-total {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
  font-size: var(--font-size-medium);
  color: var(--black);
}
.earnings-list,
.earnings-list ul {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.earnings-list {
  padding: 30px 20px;
  gap: 20px;
}
.earnings-list ul {
  padding: 10px 0;
  gap: 20px;
}
.earnings-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.earnings-list ul li p {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.earning .id {
  font-size: var(--font-size-medium);
  color: var(--black);
}
.earning .amount {
  color: var(--black);
}
